@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;800&display=swap');
:root {
    --color0: #fff;
    --color1: #009688;
    --color2: #4F4F4F;
    --color3: #f0f0f0;
    --font:
    "Mukta", sans serif;
    --hover: #00113c;
    --radius: 50px;
    --gradient: linear-gradient(45deg, #0a45a0, #0fbeb4);
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

section#about .container .content li {
    font-size: 20px;
    color: var(--color1);
}

.project .result .gallery {
    display: flex;
}

.project .result .gallery .item {
    width: auto;
}

section#project .checkbox {
    width: auto;
}

label.filterChecked {
    background: var(--color1);
}

.checkbox label {
    background: var(--color0);
    margin: 2px 0;
    padding: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s linear;
    display: block;
    position: relative;
    box-shadow: 2px 2px 10px #0000002e;
}

section#project .checkbox label {
    box-shadow: none;
    margin: 4px;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.checkbox label i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

label.filterChecked {
    background: var(--color1);
    color: var(--color0);
}

.filter {
    display: flex;
    flex-direction: column;
    background: var(--color3);
    padding: 40px;
    grid-gap: 5px;
}

section#project .filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.filter h4 {
    font-size: 30px;
    margin-bottom: 15px;
}

.filter input {
    display: none;
}

.gallery .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s linear;
}

.gallery .item:hover img {
    transform: scale(1.2);
}

.gallery .item span {
    position: absolute;
    inset: 0;
    background: #000000bd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--color1);
    font-weight: 900;
    transition: all .3s linear;
    transform: translate(100%);
}

.gallery .item:hover span {
    transform: translate(0);
}

.gallery {
    display: flex;
    grid-gap: 20px;
    padding: 40px 0;
}

.gallery .item {
    width: 50%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.service-container {
    overflow: hidden;
    font-size: 18px;
}

.service-container .service {
    flex-direction: column;
}

.service-container h3 {
    font-size: 48px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 60px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    background: var(--hover);
}

.swiper-button-next,
.swiper-button-prev {
    opacity: .4;
    transition: all .3s linear;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: -3px 0px 0px var(--color1);
}

.submit-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 30px;
    margin-top: 15px;
}

.submit-group .btn {
    border: 1px solid #4f4f4f61;
    border-radius: 0;
    padding: 15px 20px;
    letter-spacing: 1px;
    font-size: 18px;
    background: transparent;
    color: var(--hover);
    border-radius: var(--radius);
}

.submit-group label {
    margin-left: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    grid-gap: 10px;
    padding: 2% 4%;
}

.input-group {
    display: flex;
    width: 100%;
    grid-gap: 10px;
    position: relative;
}

.input-group input,
textarea,
select {
    width: 100%;
    padding: 18px;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    background: var(--color3);
    font-family: var(--font);
    color: var(--color2);
    transition: all .3s linear;
    position: relative;
}

.input-group input:placeholder,
textarea:placeholder,
select option {
    color: var(--color2);
}

select {
    appearance: none;
    /* Remove default styling */
    -webkit-appearance: none;
    /* For Safari */
}

select option {
    padding: 10px;
    transition: all .3s linear;
    font-size: 16px;
    letter-spacing: 1px;
    appearance: none;
}

select option:hover {
    background: var(--color1);
    color: var(--color0);
}

select~i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color1);
}

form h3 {
    font-size: 25px;
}

form p {
    padding: 0px 0 15px;
    font-size: 16px;
}

section#contact-form aside .info {
    padding: 40px 0;
    font-weight: 500;
    font-size: 20px;
}

.img-bloc img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

#hero .img-bloc img {
    object-position: center;
    object-fit: cover;
}

.img-bloc {
    width: 50%;
}

.twin-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.twin-contact b {
    font-size: 20px;
}

main {
    position: relative;
}

a {
    text-decoration: none;
    color: var(--color1);
}

a.tel {
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--color0);
    border: none;
    font-weight: 900;
    display: flex;
    grid-gap: 15px;
    align-items: flex-end;
    justify-content: center;
}

a.tel i {
    color: var(--color0);
    background-color: var(--color1);
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
}

ul.menu-list li:before {
    content: "";
    position: absolute;
    background: var(--color1);
    top: calc(100% + 20px);
    left: 50%;
    width: 100%;
    height: 7px;
    transform: translate(-50%);
    opacity: 0;
    transition: all .3s linear;
}

ul.menu-list li.active:before,
ul.menu-list li:hover:before {
    opacity: 1;
}

ul.menu-list li {
    position: relative;
}

.btn-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 10px;
    margin-top: 35px;
}

.banner.interne .btn-group {
    display: none;
}

.btn-group .btn:nth-child(2) {
    background: var(--hover);
}

.btn {
    position: relative;
    background: var(--color1);
    color: var(--color0);
    padding: 10px 20px;
    font-size: 20px;
    transition: all 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
    font-weight: 500;
    border-radius: var(--radius);
}

.btn i {
    padding-left: 10px;
    font-size: 17px;
    transition: all .3s linear;
}

.btn:hover i {
    padding-left: 25px;
}

.btn:hover {
    background: var(--hover);
    padding-right: 20px;
    color: var(--color0);
}

body {
    height: 100%;
    background: var(--color0);
    font-family: var(--font);
    overflow-x: hidden;
    color: var(--color2);
    font-size: 16px;
    letter-spacing: 1px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0px;
    height: 100vh;
    width: 100%;
    left: 0px;
}

ul.menu-list {
    position: relative;
    display: flex;
    grid-gap: 40px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

ul.menu-list li a {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--color0);
}

header>div.navbar {
    display: flex;
    padding: 40px 10%;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    transition: all .3s linear;
}

header>div.navbar.fixed {
    background-color: var(--hover);
}

header>div.navbar:before {
    content: "";
    position: absolute;
    border: 1px solid #ffffff;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: .1;
}

header a.logo img {
    max-width: 160px;
}

header button.close,
header button.open {
    position: absolute;
    top: 50px;
    background-color: transparent;
    font-size: 60px;
    color: var(--color0);
    cursor: pointer;
    z-index: 9999;
    border: none;
}

header button.open {
    font-family: var(--font1);
    right: 30px;
    z-index: 9;
    padding: 0px 20px;
    top: 30px;
    border-radius: 5px;
    color: var(--color0);
    /* background: var(--color1); */
    /* border: 1px solid var(--color1); */
    cursor: pointer;
    display: none;
    font-size: 30px;
    word-spacing: 10px;
    position: initial;
}

header nav.navbar-mobile {
    position: fixed;
    right: 0px;
    background-color: var(--hover);
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s linear 0s;
    display: none;
    top: 0;
}

header nav.navbar-mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    position: absolute;
    margin: 0px;
    padding: 0px;
    /* display: none; */
    top: 0;
    height: 100%;
}

header nav.navbar-mobile ul li {
    list-style: none;
    margin: 16px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 5px 20px;
}

header nav.navbar-mobile ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--color1);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s;
    transform: translate(100%);
    height: 2px;
    bottom: 0;
}

header nav.navbar-mobile ul li:hover::before {
    transform: translate(0px);
}

header nav.navbar-mobile ul li a {
    margin: 10px;
    font-size: 32px;
    text-align: center;
    font-family: var(--font2);
    transition: all 0.3s linear 0s;
    color: var(--color0);
}

header nav.navbar-mobile ul li:hover a {
    color: var(--color1);
}

.banner {
    height: 100vh;
    width: 100%;
}

.banner.interne {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65vh;
    top: 0;
}

header.service {
    height: 65vh;
}

.banner.interne:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(122deg, #000000f0, #000000b8, transparent);
    z-index: 1;
}

.banner.interne .item h1 {
    position: relative;
    font-size: 6rem;
    line-height: 1;
}

.banner.interne .item {
    font-size: 25px;
    position: relative;
    padding-left: 10%;
    font-weight: 100;
    color: var(--color0);
    z-index: 1;
}

.banner.interne img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.slideshow {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slideshow .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;
}

.slideshow .slider * {
    outline: none;
}

.slideshow .slider .item {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    border: none;
}

.slideshow .slider .item::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(126deg, #000000bd, #0000009e, transparent);
    z-index: 1;
}

.slideshow .slider .item .text {
    display: none;
}

.slideshow .slider .item img {
    min-width: 101%;
    min-height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideshow .slick-dots {
    position: absolute;
    z-index: 100;
    width: 34px;
    height: auto;
    inset: 90vh 40px auto auto;
    color: rgb(255, 255, 255);
    display: block;
    top: 45vh;
}

.slideshow .slick-dots li {
    display: block;
    width: 100%;
    height: auto;
}

.slideshow .slick-dots li button {
    position: relative;
    width: 20px;
    height: 15px;
    text-align: center;
}

.slideshow .slick-dots li button::before {
    content: "";
    background: var(--color0);
    color: rgb(255, 255, 255);
    height: 2px;
    width: 20px;
    border-radius: 0px;
    position: absolute;
    top: 50%;
    right: 0px;
    left: auto;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out 0s;
    opacity: 1;
}

.slideshow .slick-dots li.slick-active button::before {
    width: 40px;
    opacity: 1;
    background: var(--color1);
}

.slideshow.slideshow-right {
    left: 0px;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
}

.slideshow.slideshow-right .slider {
    left: 0px;
    position: absolute;
}

.slideshow-text {
    position: absolute;
    top: 50vh;
    left: 0%;
    transform: translate(0%, -50%);
    z-index: 100;
    font-size: 40px;
    width: 60vw;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: 100;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 0% 10% 10%;
}

.slideshow-text h1 {
    text-transform: inherit;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    font-size: 5rem;
}

.slideshow-text span {
    font-size: 18px;
    font-family: var(--font2);
    letter-spacing: 2px;
    line-height: 1.5;
    display: block;
    margin: 30px 0;
    text-align: justify;
}

.slideshow-text button {
    display: block;
    text-align: center;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    padding: 15px 30px;
    border: 1px solid var(--color1);
    border-radius: 5px;
    font-size: 16px;
    color: var(--color1);
    cursor: pointer;
    transition: all 0.3s linear 0s;
    margin-top: 40px;
    overflow: hidden;
    font-family: var(--font1);
    letter-spacing: 5px;
    text-transform: uppercase;
    background: transparent;
}

.slideshow-text button:hover {
    color: var(--color0);
}

.slideshow-text button::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: var(--color1);
    z-index: -1;
    transform: translateY(60px);
    border-radius: 31% 69% 70% 30% / 48% 29% 71% 52%;
    transition: all 0.5s ease-in-out 0s;
}

.slideshow-text button:hover::before {
    transform: translateY(0px);
    border-radius: 5px;
}


/* -------------------------------------------------------------------------------------------------- */

main {
    position: relative;
}

section {
    position: relative;
    padding: 2% 0%;
    margin: 0% 10%;
    z-index: 1;
}

section#contact-info .title {
    font-size: 48px;
    line-height: 1;
    text-align: center;
}

section#contact-info .title span {
    font-size: 30px;
    font-weight: 900;
    color: var(--color1);
}

section#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 50px;
    padding: 5% 0;
}

section#contact-info .container {
    display: flex;
    grid-gap: 20px;
    width: 100%;
}

section#contact-info .container .bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    padding: 20px 0px 0;
    justify-content: center;
    height: fit-content;
}

section#contact-info .container .bloc h3 {
    font-size: 30px;
    white-space: nowrap;
    padding: 0 30px;
}

section#contact-info .container .bloc span {
    padding: 0 30px;
}

section#contact-info .container .bloc div {
    padding: 20px;
    background: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    font-size: 25px;
    margin-top: 30px;
    font-weight: 900;
}

section#contact-info .container .bloc div span.ico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color0);
    padding: 10px;
}

section#project h2 {
    font-size: 48px;
    padding-bottom: 20px;
    text-align: center;
}

section.more-about {
    font-size: 20px;
    background: var(--hover);
    margin: 0;
    padding: 4% 10%;
    color: var(--color0);
}

section.more-about h2 {
    font-size: 48px;
    color: var(--color1);
}

section.more-about .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0;
}

section#service-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px;
}

section#testimonial {
    display: flex;
    grid-gap: 10%;
    padding: 5% 10%;
    background: url(../../assets/testimony.jpg);
    margin: 5% 0 0;
    background-color: #343434b0;
    background-blend-mode: soft-light;
    background-attachment: fixed;
}

section#testimonial .swiper-button-next:after,
section#testimonial .swiper-button-prev:after {
    color: var(--color0);
    font-size: 12px;
    font-weight: 900;
}

section#testimonial .testimony {
    background: #ffffff1a;
    padding: 2% 10% 4%;
    position: relative;
    width: 50%;
    font-size: 18px;
    text-align: center;
    backdrop-filter: blur(10px);
    color: var(--color0);
    font-style: italic;
    font-weight: 100;
}

section#testimonial .testimony:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(../../assets/q.png);
    left: 100px;
    top: 0%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .2;
}

section#testimonial .testimony:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../../assets/q.png);
    right: 115px;
    bottom: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .2;
    transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 60px !important;
    background: var(--hover);
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}

section#testimonial img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    margin: 10px 0;
    position: relative;
}

section#testimonial .title h2 {
    font-size: 48px;
    color: var(--color0);
}

section#testimonial .title p {
    color: var(--color0);
    font-size: 16px;
    font-weight: 400;
}

section#team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    padding-top: 0;
}

section#team .container {
    display: flex;
    grid-gap: 30px;
}

section#team h2 {
    font-size: 48px;
}

section#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    grid-gap: 40px;
    padding: 0% 0% 8%;
}

section#about.company {
    padding: 8% 5%;
    margin: 0 5%;
}

section#about .img-bloc {
    width: 100%;
}

section#about .container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: flex-start;
}

section#about .jumbotron {
    box-shadow: 1px 1px 40px #3d3d3d1c;
    padding: 25px;
    display: flex;
    grid-gap: 20px;
}

section#about .jumbotron i {
    color: var(--color1);
    font-size: 25px;
}

section#about ul {
    padding: 0px 40px 20px;
    font-weight: 600;
}

section#about.company .container ul {
    column-count: 2;
    list-style: none;
    padding: 5% 0;
}

section#about.company .container ul li {
    margin-bottom: 16px;
    font-size: 20px;
}

section#about.company .container ul i {
    color: var(--color1);
    padding-right: 15px;
    font-size: 20px;
}

section#about .title {
    padding-bottom: 0px;
}

section#about .title h2 {
    font-size: 48px;
    line-height: 1.1;
}

section#about .title span,
section#testimonial .title span {
    color: var(--color1);
    font-weight: 900;
    padding-left: 70px;
    position: relative;
}

section#about .title span:before,
section#testimonial .title span:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: var(--color1);
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

section#contact-form {
    position: relative;
    box-shadow: 1px 1px 50px #0000001c;
    margin: 0 15%;
    top: -100px;
    background: #ffffff;
    display: flex;
    grid-gap: 0px;
    padding: 0px;
}

section#contact-form aside {
    background: var(--hover);
    padding: 20px 40px;
    color: var(--color0);
    font-size: 18px;
}

section#contact-form aside a.tel {
    width: fit-content;
    padding: 0;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}

section#contact-form aside a.tel:hover i {
    font-size: 12px;
    border: 2px solid #07256f5c;
    padding: 12px;
    box-shadow: 1px 1px 50px #07256f70;
}

section#contact-form aside a.tel i {
    font-size: 12px;
    border: 2px solid #f9480b00;
    padding: 12px;
    transition: all .3s linear;
}

section#contact-form aside span {
    white-space: nowrap;
    font-size: 16px;
}

section#contact-form aside h4 {
    font-size: 23px;
    padding: 10px 0;
}

section#recent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
    text-align: center;
}

section#recent .title h2 {
    font-size: 48px;
    line-height: 1.2;
}

section#recent .title span {
    font-weight: 900;
    color: var(--color1);
    font-size: 20px;
}

section#recent .container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

section#recent .container .feature {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 50px #0000001f;
}


section#recent .container .feature .img {
    width: 100%;
    overflow: hidden;
    height: 400px;
}
section#recent .container .feature .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s linear;
}
section#recent .container .feature:hover .img img {
    transform: scale(1.3);
}
section#hero {
    display: flex;
    grid-gap: 0px;
    margin: 0% 0% 2%;
    padding-top: 0;
}
section#hero .container {
    background: var(--color1);
    padding: 5%;
    color: var(--color0);
    width: 50%;
}
section#hero .container .twin {
    display: flex;
    grid-gap: 40px;
}
section#hero .container .twin i {
    font-size: 50px;
}
section#hero .container .twin .item {
    padding: 30px 0;
}
section#hero .container .twin .item b {
    margin: 20px 0;
    font-size: 25px;
    line-height: 1.1;
    font-weight: 500;
}
section#contact .title h2,
section#hero .container .title h2 {
    font-size: 30px;
    line-height: 1.2;
    padding: 20px 0;
}

section#contact .title h2 {
    font-size: 5rem;
    margin: 0;
    padding-top: 0;
}

section#contact .title span,
section#hero .container .title span {
    padding-left: 70px;
    position: relative;
    color: var(--color1);
    font-weight: 800;
}

section#hero .container .title span {
    color: var(--color0);
}
section#contact .title span:before,
section#hero .container .title span:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background: var(--color1);
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
}

section#hero .container .title span:before {
    background: var(--color0);
}
section#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
    background: url(../../img/galerie/g-4.jpg);
    margin: 0;
    padding: 5% 10%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #000000c7;
    background-blend-mode: soft-light;
}
section#services .title {
    text-align: center;
    font-size: 20px;
    color: var(--color1);
    font-weight: 700;
}
section#services .title h2 {
    font-size: 3rem;
    line-height: 1.1;
    padding: 0 12%;
    color: var(--color0);
}
section#services .container .item-service .heading {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    border-bottom: 1px solid #ffffff42;
    padding-bottom: 30px;
    width: 100%;
    font-size: 22px;
    line-height: 1.3;
    align-items: flex-start;
}

section#services .container .item-service:hover .heading i {
}

section#services .container .item-service a.btn {
}

section#services .container .item-service p {
    color: var(--color0);
    opacity: .4;
    transition: all .3s linear;
}

section#services .container .item-service:hover p {
    opacity: 1;
}

section#services .container .item-service .heading h3 {
    white-space: nowrap;
    color: var(--color0);
}

section#services .container .item-service .heading h3 br {
    display: none;
}
section#services .container .item-service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 20px;
    padding: 40px;
    box-shadow: 10px 10px 10px #7c727212;
    transition: all .3s linear;
    backdrop-filter: blur(5px);
    background: #0000006e;
}
section#services .container .item-service:hover i {
}
section#services .container .item-service:hover a.btn {
    background: transparent;
    color: var(--color1);
    padding: 0;
    opacity: .5;
}
section#services .container .item-service:hover a.btn:hover {
    background: transparent;
    opacity: 1;
}
section#services .container .item-service:hover {
    background-color: var(--hover);
    color: var(--color0);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section#services .container .item-service a.btn {background: transparent;padding: 0;opacity: .5;color: var(--color1);}
section#services .container .item-service:nth-child(3):hover {
}
section#services .container .item-service i {
    font-size: 39px;
    color: var(--color1);
    text-align: center;
    transition: all .3s linear;
}
section#services .container {
    display: flex;
    grid-gap: 30px;
    padding: 2% 0;
}
section#accroche {
    display: flex;
    margin: 0% 10%;
    position: relative;
    align-items: flex-end;
    z-index: 9;
    width: auto;
    padding: 4% 0% 0;
    top: -150px;
}
section#accroche .twin .item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
    grid-gap: 12px;
    flex-direction: column;
    box-shadow: 1px 1px 50px #00000017;
    padding: 30px;
    transition: all .3s linear;
    background: var(--color0);
}

section#accroche .twin .item:hover {
    background: var(--hover);
    color: var(--color0);
    transform: translateY(-15px);
}
section#accroche .twin .item>span {
    background: var(--color1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color0);
    border-radius: 50%;
}
section#accroche .twin {
    display: flex;
    grid-gap: 15px;
    justify-content: space-between;
}

section#marques {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 20px;
    border-top: 1px solid rgb(206, 206, 206);
    margin-top: 5%;
}

section#marques .img-logo {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#marques img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section#contact {
    background: url(../../img/dd.jpg);
    background-size: cover;
    background-position: right;
    min-height: 570px;
    color: var(--color0);
    padding: 5% 10%;
}

section#contact p {
    font-size: 20px;
    color: var(--color0);
    letter-spacing: 2px;
    z-index: 1;
    position: relative;
    width: 60%;
    text-align: left;
}

section#contact .title {
    position: relative;
}

section#contact:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, #000000fa, #0000009c, transparent);
    z-index: 0;
}

section#contact ul {
    padding-left: 50px;
    margin: 30px 0;
    line-height: 2;
    font-size: 20px;
    position: relative;
}

section#contact h2 {
    width: 60%;
}

.flip-bx {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    height: 450px;
}

.flip-bx .front,
.flip-bx .back {
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
    transition: -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
    -o-transition: transform .7s cubic-bezier(.4, .2, .2, 1);
    transition: transform .7s cubic-bezier(.4, .2, .2, 1);
    transition: transform .7s cubic-bezier(.4, .2, .2, 1), -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    height: 100%;
    border-radius: 4px;
    color: #fff;
    padding: 40px;
    /* box-shadow: 10px 10px 50px #0000001c; */
}

.flip-bx .front {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 1.7;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000
}

.flip-bx .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-bx .back .inner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: 30px;
}

.flip-bx .back .inner .content span.position {
    font-size: 13px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.flip-bx .back .inner .content span.name a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 900;
}

ul.social {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    padding: 2px 20px;
    border-top: 1px solid #ffffff69;
    border-bottom: 1px solid #ffffff69;
}

ul.social a i {
    color: #ffffff;
    font-size: 15px;
    position: relative;
}

.flip-bx .back {
    background: var(--hover);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    background-size: 200%;
    width: 100%;
}

.flip-bx .back .inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
    position: absolute
}

.flip-bx .back .inner p {
    font-size: 16px;
    color: #fff
}

.flip-bx .back .inner .site-button-link {
    font-size: 16px
}

.flip-bx .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.flip-bx .front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px
}

.flip-bx .inner {
    -webkit-transform: translateZ(60px) scale(.94);
    transform: translateZ(60px) scale(.94);
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2
}

.flip-bx:hover .front,
.flip-bx:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
    transition: -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
    -o-transition: transform .7s cubic-bezier(.4, .2, .2, 1);
    transition: transform .7s cubic-bezier(.4, .2, .2, 1);
    transition: transform .7s cubic-bezier(.4, .2, .2, 1), -webkit-transform .7s cubic-bezier(.4, .2, .2, 1)
}

.flip-bx:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-bx:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}


/* -------------------------------------------------------------------------------------------------- */


/* footer */

footer {
    display: flex;
    flex-direction: column;
    position: relative;
}

footer p {
    color: var(--color0);
    font-weight: 100;
}

footer .map {
    width: auto;
    margin: 0% 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 30px;
    position: relative;
    top: 100px;
}

footer::before {
    content: "";
    position: absolute;
    background: url(../../assets/zone.png);
    background-position: top;
    background-size: auto;
    inset: 0;
    top: -100px;
}

footer .map span {
    font-weight: 900;
    color: var(--color1);
    font-size: 18px;
}

footer .map h2 {
    font-size: 48px;
    line-height: 1.1;
}

footer .map .title {
    text-align: center;
}

footer .map iframe {
    width: 100%;
    filter: grayscale(1);
    transition: all .3s linear;
}

footer .map iframe:hover {
    filter: grayscale(0);
}

footer .bande1 {
    background: var(--hover);
    display: grid;
    padding: 10% 10% 5%;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

footer .bande1 .bloc {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

footer .bande1 .bloc b {
    color: var(--color1);
    font-weight: bold;
    border-bottom: 1px solid var(--color1);
    cursor: pointer;
    transition: all .3s linear;
    opacity: 0.8;
}

footer .bande1 .bloc b:hover {
    opacity: 1;
}

footer .bande1 .bloc ul.social {
    justify-content: flex-start;
    border: 0;
    padding: 10px 0;
}

footer .bande1 .bloc img {
    width: 200px;
}

footer .bande1 .bloc h4 {
    font-size: 25px;
    color: var(--color1);
}

footer .bande1 .bloc ul:not(ul.social) {
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer .bande1 .bloc ul:not(ul.social) li a {
    color: var(--color0);
    margin: 5px 0;
    position: relative;
    display: block;
    font-weight: 100;
    transition: all .3s linear;
}

footer .bande1 .bloc ul:not(ul.social) li a:hover {
    color: var(--color1);
}

footer .bande2 {
    background: var(--hover);
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff2b;
}

footer .bande2 b {
    color: var(--color1);
    font-weight: 900;
}

footer .bande2 i {
    color: red;
}

footer .bande2 p {
    word-spacing: 5px;
}

footer .bande1 .bloc form {
    display: flex;
    padding: 10px 0;
    position: relative;
}

footer .bande1 .bloc form~p {
    opacity: 1;
}

footer .bande1 .bloc form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--color1);
    right: 10px;
}

footer .bande1 .bloc form input {
    padding: 15px;
    border: none;
    margin: 0;
    background: #f8f8f8;
    border-bottom: 3px solid var(--color1);
}


/* footer */


/* responsivity */

@media screen and (max-width :991px) {
    section#service-list {
        grid-template-columns: 1fr;
        margin: 5%;
    }
    section#service-list {
        margin: 2% 0;
        padding: 20px 0;
    }
    .filter {
        padding: 20px;
    }
    .service-container h3 {
        font-size: 30px;
    }
    .service-container {
        padding: 0 20px;
    }
    ul.menu-list {
        display: none;
    }
    /* header nav.navbar-mobile,header nav.navbar-mobile ul{display: flex;} */
    header button.open {
        display: block;
    }
    header a.tel {
        display: none;
    }
    header,
    .banner,
    .slideshow .slider,
    .slideshow .slider .item,
    .slideshow {
        height: 60vh;
        z-index: 99;
    }
    .slideshow-text {
        top: 30vh;
    }
    .slideshow-text {
        width: 80%;
    }
    .slideshow-text h1 {
        font-size: 50px;
    }
    section#accroche {
        top: 5rem;
        z-index: 9;
    }
    section#accroche .tips {
        grid-gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    section#accroche .tips .btn {
        top: 0;
    }
    section#accroche .twin {
        display: none;
    }
    section#about {
        grid-template-columns: 1fr;
        padding-top: 20%;
    }
    section#services .title h2 {
        font-size: 30px;
    }
    section#services .container,
    section#hero,
    section#recent .container {
        flex-wrap: wrap;
    }
    section#recent .container {
        grid-template-columns: 1fr;
    }
    section#hero .container,
    .img-bloc {
        width: 100%;
    }
    section#recent .container .feature {
        height: auto;
    }
    section#marques {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        display: grid;
    }
    section#contact .title h2,
    section#hero .container .title h2 {
        font-size: 30px;
    }
    section#contact h2 {
        width: 100%;
    }
    section#contact-form {
        flex-wrap: wrap;
        margin: 0%;
    }
    section#contact-form aside {
        width: 100%;
    }
    section#contact {
        margin: 0%;
        min-height: 700px;
    }
    section#contact-form aside h4 {
        font-size: 35px;
    }
    section#contact ul,
    section#contact-form aside span {
        font-size: 30px;
    }
    form {
        padding: 10%;
    }
    section#team .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section#testimonial {
        flex-wrap: wrap;
    }
    section#testimonial .testimony {
        width: 100%;
        top: 100px;
    }
    section#testimonial .title p {
        font-size: 20px;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 20px !important;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 20px !important;
    }
    section#testimonial .testimony::before,
    section#testimonial .testimony:after {
        display: none;
    }
    footer .bande1 {
        padding-top: 20%;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width :767px) {
    .slideshow-text h1 {
        font-size: 30px;
    }
    .btn-group {
        flex-wrap: wrap;
        margin-top: 30px;
    }
    /* .slideshow-text{top: 55vh;} */
    section#accroche {
        top: 2rem;
    }
    section#accroche .tips h2 {
        font-size: 20px;
    }
    .slideshow-text span {
        display: none;
    }
    section#accroche {
        margin: 4%;
    }
    section#services .title h2,
    section#recent .title h2,
    .title h2 {
        font-size: 20px;
        padding: 0%;
    }
    section#hero {
        margin: 0;
        grid-gap: 0;
    }
    section {
        margin: 0;
    }
    section#marques {
        display: flex;
        flex-wrap: wrap;
    }
    section#hero .container .twin .item b,
    section#contact .title h2,
    section#hero .container .title h2 {
        font-size: 20px;
    }
    section#hero .container .twin .item i {
        font-size: 30px;
    }
    section#team .container {
        grid-template-columns: 1fr;
    }
    section#contact ul,
    section#contact-form aside span {
        font-size: 20px;
    }
    section#contact .title h2,
    section#hero .container .title h2 {
        line-height: 1.5;
    }
    form,
    section#services,
    section {
        padding: 5%;
    }
    .input-group {
        flex-wrap: wrap;
    }
    select~i {
        top: 75%;
    }
    .input-group input,
    textarea,
    select {
        font-size: 18px;
    }
    .submit-group {
        flex-wrap: wrap;
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 110% !important;
    }
    footer .map h2,
    section#about .title h2 {
        font-size: 25px;
    }
    footer .map {
        margin: 0%;
    }
    footer .bande1 {
        padding-top: 35%;
        grid-template-columns: 1fr;
    }
    .banner.interne .item h1 {
        font-size: 40px;
    }
    section#about.company .container ul {
        column-count: 1;
    }
    section.more-about h2 {
        font-size: 35px;
    }
    section.more-about .content {
        grid-template-columns: 1fr;
    }
    .gallery {
        flex-wrap: wrap;
    }
    .gallery .item {
        width: 100%;
    }
    section#hero .container .twin {
        flex-wrap: wrap;
        grid-gap: 0;
    }
}

@media screen and (max-width :576px) {}